<h1><%= @soup.name %></h1>

<% if @soup.featured? %>
  <p>This is a featured soup this month.</p>
  <% else %>
  <p>This soup is not in season.</p>
<% end %>
<% if params[:admin] =='true' %>
<p><%= link_to "Featured", toggled_featured_path(@soup) %></p>
<% end %>